@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #2C4001;
  --color-light-green: #8AA626;
  --color-fern-frond: #617320;
  --color-oriental-spice: #8C512E;
  --color-royal: #5c33cc;
  --color-old-bone: #D9C3A9; /* não é mais, agora é old bone*/
  --color-fuchsia: #ca2f8c;
  --color-orange: #cc6033;
  --color-sand: #d6995c;
  --color-coral: #ea4884;
  --color-beige: #D9C3A9;
  --animate-orbit: orbit 50s linear infinite;

  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }

    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }

  --animate-marquee: marquee 50s linear infinite;
  --animate-marquee-vertical: marquee-vertical 50s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #0D1A12;
  font-family: "Manrope", sans-serif;
  color: #F4F1DE;

  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2 {
  font-family: "Manrope", sans-serif;
  color: #2C4001;
  margin-bottom: 1rem;
}

::selection {
  background: #2C4001;
  color: #F4F1DE;
}

.c-space {
  @apply sm:px-10 px-5 lg:px-15;
}

.hover-animation {
  @apply hover:-translate-y-1 duration-200;
}

.section-spacing {
  @apply min-h-screen mt-20 md:mt-30;
}

.text-heading {
  @apply font-bold text-3xl md:text-4xl text-white;
}

.headtext {
  @apply mt-2 mb-2 text-xl;
}

.subtext {
  @apply text-primary text-sm md:text-base text-pretty;
}

.subtext-grid-1 {
  @apply text-white text-sm md:text-base text-pretty;
}

/* Navigation */
.nav-ul {
  @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
}

.nav-li {
  @apply text-white hover:text-white max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
}

.nav-link {
  @apply text-lg md:text-base hover:text-white transition-colors;
}

/* About Section */
.grid-1 {
  @apply row-span-2 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-2 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-3 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-4 {
  @apply row-span-1 md:col-span-6 h-[15rem] relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-default-color {
  @apply p-6 bg-gradient-to-b from-beige to-fern-frond rounded-2xl;
}

.grid-special-color {
  @apply p-6 bg-gradient-to-b from-oriental-spice to-beige rounded-2xl;
}

.field-input {
  @apply w-full min-h-10 rounded-md px-3 py-2 text-sm bg-white/10 transition duration-200 placeholder-white border border-white/10 mt-2;
}

.field-input-focus {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-white/20;
}